{% comment %}
  Parameters:
  - title {string} [required] - The item title or summary
  - content {string} [required] - The item content
  - add_content_class {string} [optional] - Additional class(es) to add to the content element
  - toggle_icon {string} [optional] - Custom icon markup, e.g. '<span class="icon">...</span>'
  - item_open {boolean} [optional] - Whether the item should be open on page load. Default is false.
{% endcomment %}

{%- liquid
  assign item_attr = 'class="cc-accordion-item"'

  if item_open == true
    assign item_attr = 'class="cc-accordion-item is-open" open'
  endif

  if add_content_class
    assign content_class = add_content_class | prepend: ' '
  endif
-%}

<details {{ item_attr }}>
  <summary class="cc-accordion-item__title">{{- title -}}{{- toggle_icon -}} <svg width="24px" height="24px" viewBox="0 0 24 24" id="arrow_down" data-name="arrow down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <clipPath id="clip-path">
      <rect id="Mask" width="24" height="24" fill="none" stroke="#000" stroke-width="1"/>
    </clipPath>
  </defs>
  <g id="_20x20_arrow-back--grey" data-name="20x20/arrow-back--grey" transform="translate(0 24) rotate(-90)">
    <rect id="Mask-2" data-name="Mask" width="24" height="24" fill="none"/>
    <g id="_20x20_arrow-back--grey-2" data-name="20x20/arrow-back--grey" clip-path="url(#clip-path)">
      <g id="Group_2" data-name="Group 2" transform="translate(8 7)">
        <path id="Rectangle" d="M0,6.586V0H6.586" transform="translate(0.686 5.157) rotate(-45)" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="1.5"/>
      </g>
    </g>
  </g>
</svg>
</summary>
  <div class="cc-accordion-item__panel">
    <div class="cc-accordion-item__content{{ content_class }}">
      {{- content -}}
    </div>
  </div>
</details>
