<div id="shopify-section-1600264004869" class="shopify-section section-testimonials">
        <div id="section-id-1600264004869" data-section-type="testimonials"
            class="half-gutter section-spacing section-spacing--top-only use-alt-bg" data-cc-animate=""
            style="background-color: transparent !important; padding-bottom: 0px !important">



            <div class="container container--large section-testimonials--no-images">






                <div class="cc-testimonial
              cc-testimonial--align-right
              cc-testimonial--no-images
              
              
              " data-scrollax-parent="true">



                    <div class="cc-testimonial__column">
                        <div class="cc-testimonial__content overlay-type">
                            <div class="#" data-cc-animate="cc-fade-in-up" data-cc-animate-offset="90%"><span class="#">

                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        style="width: 53.333px !important; height: 40px !important"
                                        viewbox="0 0 53.333 40 !important">
                                        <path id="Truck_Icon_-_Light___Font_Awesome-30"
                                            data-name="Truck Icon - Light _ Font Awesome-30"
                                            d="M52.667,61.333h-2V52.325A5.338,5.338,0,0,0,49.1,48.558l-6.992-6.992A5.309,5.309,0,0,0,38.342,40H34.667V35.883A4.011,4.011,0,0,0,30.55,32H4.117A4.011,4.011,0,0,0,0,35.883V60.117A4.011,4.011,0,0,0,4.117,64h1.35a6.4,6.4,0,0,0-.133,1.333,6.667,6.667,0,1,0,13.333,0A7.023,7.023,0,0,0,18.533,64H34.8a6.4,6.4,0,0,0-.133,1.333,6.667,6.667,0,1,0,13.333,0A7.023,7.023,0,0,0,47.867,64h4.8a.669.669,0,0,0,.667-.667V62A.669.669,0,0,0,52.667,61.333ZM38.342,42.667a2.662,2.662,0,0,1,1.883.783l6.992,6.992a2.23,2.23,0,0,1,.15.233h-12.7v-8h3.675ZM12,69.333a4,4,0,1,1,4-4A4,4,0,0,1,12,69.333Zm5.3-8a6.6,6.6,0,0,0-10.6,0H4.117a1.347,1.347,0,0,1-1.45-1.217V35.883a1.347,1.347,0,0,1,1.45-1.217H30.55A1.347,1.347,0,0,1,32,35.883v25.45Zm24.033,8a4,4,0,1,1,4-4A4,4,0,0,1,41.333,69.333Zm0-10.667a6.632,6.632,0,0,0-5.3,2.667H34.667v-8H48v8H46.633A6.632,6.632,0,0,0,41.333,58.667Z"
                                            transform="translate(0 -32)"></path>
                                    </svg>

                                </span></div>
                            <h3 style="font-size:18px !important; margin-top:10px; letter-spacing:1px;" class="line-1"
                                data-cc-animate="cc-fade-in-up" data-cc-animate-offset="90%">
                                {{ section.settings.title_1}}
                            </h3>
                            <div class="rte line-2" data-cc-animate="cc-fade-in-up" data-cc-animate-offset="90%">
                                <p style="font-size:14px">{{ section.settings.text_1}}</p>
                            </div>
                        </div>


                    </div>
                </div>






                <div class="cc-testimonial
              cc-testimonial--align-left
              cc-testimonial--no-images
              
              
              " data-scrollax-parent="true">



                    <div class="cc-testimonial__column">
                        <div class="cc-testimonial__content overlay-type">
                            <div class="#" data-cc-animate="cc-fade-in-up" data-cc-animate-offset="90%"><span class="#">

                                    <svg version="1.0" id="Ebene_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        style="width: 53.333px !important; height: 40px !important"
                                        viewbox="0 0 55.8997841 42.3015404" xml:space="preserve">
                                        <style type="text/css">
                                            ._x005B_Standard_x005D_ {
                                                fill: #FFFFFF;
                                                stroke: #1D1D1B;
                                                stroke-miterlimit: 10;
                                            }

                                            .Schlagschatten {
                                                fill: none;
                                            }

                                            .Abgerundete_x0020_Ecken_x0020_2_x0020_Pt_x002E_ {
                                                fill: #FFFFFF;
                                                stroke: #1D1D1B;
                                                stroke-miterlimit: 10;
                                            }

                                            .Interaktiv_x0020_X_x0020_spiegeln {
                                                fill: none;
                                            }

                                            .Weich_x0020_abgeflachte_x0020_Kante {
                                                fill: url(#SVGID_1_);
                                            }

                                            .Abenddämmerung {
                                                fill: #FFFFFF;
                                            }

                                            .Laub_GS {
                                                fill: #FFDD00;
                                            }

                                            .Pompadour_GS {
                                                fill-rule: evenodd;
                                                clip-rule: evenodd;
                                                fill: #51AEE2;
                                            }

                                            .st0 {
                                                fill: #191718;
                                            }

                                            .st1 {
                                                fill: #FFFFFF;
                                            }
                                        </style>
                                        <lineargradient id="SVGID_1_" gradientunits="userSpaceOnUse" x1="-6.0050917"
                                            y1="-25.3929577" x2="-5.297987" y2="-24.6858482">
                                            <stop offset="0" style="stop-color:#E6E6EB"></stop>
                                            <stop offset="0.1754011" style="stop-color:#E2E2E7"></stop>
                                            <stop offset="0.3552136" style="stop-color:#D6D6DB"></stop>
                                            <stop offset="0.5371002" style="stop-color:#C2C3C6"></stop>
                                            <stop offset="0.720417" style="stop-color:#A5A7A9"></stop>
                                            <stop offset="0.9030964" style="stop-color:#818485"></stop>
                                            <stop offset="1" style="stop-color:#6B6E6E"></stop>
                                        </lineargradient>
                                        <g>
                                            <g>
                                                <path class="st0" d="M6.6299477,41.0113792c-1.036552,0-1.6902542-0.0030479-1.8601561-0.00914
                  c-1.7668247-0.0678101-3.1915603-1.7973022-3.2437499-3.9374542C1.4845188,35.3642464,1.2094761,9.9681416,1.1645246,5.8207893
                  c-0.0255233-0.201139-0.0392374-0.4045639-0.0407611-0.6079888C1.1077638,3.2375989,2.1458399,1.1214474,4.1012325,1.089448
                  c6.1724577-0.1013315,41.6076126-0.0754272,41.9649429-0.0742843c0.2148552,0,0.389328,0.1737111,0.3900909,0.3881834
                  l0.0198059,3.8163109c0.0007629,0.2152338-0.1729469,0.3908496-0.3878021,0.3919926c-0.0007591,0-0.0015221,0-0.002285,0
                  c-0.2148514,0-0.3893242-0.1733303-0.3900871-0.3881831l-0.0175247-3.4285085
                  C41.7843475,1.7934351,9.9308395,1.7743877,4.1141844,1.8696241C2.7477336,1.891719,1.9309866,3.5031178,1.9043205,5.0882316
                  C1.9256535,5.13585,1.9378437,5.1884203,1.9386055,5.2440381C1.9389865,5.2661328,1.9408913,5.448225,1.9443197,5.767457
                  c0.1519973,1.1062655,0.7485578,2.1885314,2.0590096,2.1885314c6.782733,0,47.7328339,0.2209487,48.1457787,0.2232337
                  c0.2140923,0.001524,0.387043,0.1744728,0.3878021,0.3885641l0.1005707,31.8424606
                  c0.0007629,0.2156143-0.1729469,0.3900871-0.3878021,0.391613C50.5765686,40.8110046,15.2888365,41.0113792,6.6299477,41.0113792z
                   M1.9664146,7.8081813c0.0788556,7.2951045,0.3024706,27.7229195,0.3398033,29.2375565
                  c0.041142,1.7005424,1.1599786,3.1260376,2.4932873,3.1763229c1.4914012,0.0548553,42.5885468-0.1737099,47.0562744-0.1980896
                  L51.7582588,8.9571123c-4.216301-0.0220947-41.3291435-0.2209482-47.7549286-0.2209482
                  C3.1088698,8.7361641,2.4357393,8.3712187,1.9664146,7.8081813z"></path>
                                            </g>
                                            <g>
                                                <path class="st1" d="M50.8630219,18.470871c0,0-9.9829941,0.1092911-15.8531075,0.2076817
                  c-6.1502132,0.8453121-5.8807716,10.795433-0.0347939,12.0491352c5.6846237,0.0534096,16.6494026,0.1349125,16.6494026,0.1349125
                  s2.7209663-0.8236179,2.7691002-2.9767838c0.0481377-2.1531658,0-9.3457184,0-9.3457184s0.0481377-2.6107922-1.6614609-2.9075565
                  C53.2746964,18.216753,50.8630219,18.470871,50.8630219,18.470871z"></path>
                                                <path d="M51.6241684,31.2523212c-0.0007629,0-0.002285,0-0.0030479,0c0,0-10.9643707-0.080761-16.6495972-0.1348534
                  c-0.0259056,0-0.0525703-0.0030479-0.077713-0.0083809c-3.4376526-0.7375107-4.8905773-4.1119251-4.7846756-6.9354916
                  c0.1188545-3.1847038,2.0212975-5.4932327,4.8471489-5.8810349c5.7522736-0.0998077,15.3475266-0.2057114,15.8793259-0.2118053
                  c0.1158104-0.0167618,0.8738899-0.1478081,1.2921677-0.7268448c0.2910423-0.403801,0.3664703-0.9561729,0.2224731-1.6411123
                  c-0.0266685-0.1264744,0.0114288-0.2582808,0.1013298-0.3512316c0.0899048-0.0921888,0.2217102-0.1379023,0.3466606-0.1127596
                  c2.0167236,0.3489456,1.9877739,3.178607,1.9854889,3.2982244c0.0007591,0.0624752,0.0472374,7.2128201,0,9.3468761
                  c-0.0540962,2.4083366-2.9241371,3.3050823-3.0468025,3.3416519
                  C51.7003555,31.2469883,51.662262,31.2523212,51.6241684,31.2523212z M35.0195198,30.3380527
                  c5.4398994,0.0510464,15.6393318,0.1272354,16.5429344,0.1333313c0.3558044-0.1226654,2.4037666-0.9051266,2.4410973-2.5942383
                  c0.0472374-2.1233902,0.0007629-9.2623062,0-9.3346863c0-0.0266647,0.0144768-1.6464443-0.8030319-2.2879562
                  c0.0175247,0.6079884-0.1310463,1.1314068-0.4457054,1.5633984c-0.6597977,0.9058895-1.8026352,1.0361729-1.8506317,1.0407429
                  c-0.0121918,0.001524-0.0243835,0.0022869-0.0365715,0.0022869c-0.0007629,0-9.9822922,0.1089497-15.8511391,0.2079945
                  c-2.9081345,0.4022789-4.048687,3.0178509-4.1279221,5.1343822C30.795599,26.7007866,32.0489082,29.6782551,35.0195198,30.3380527
                  z M50.8630371,18.4708424h0.0076218H50.8630371z M50.8630371,18.4708424h0.0076218H50.8630371z"></path>
                                            </g>
                                            <g>
                                                <path d="M36.9211998,26.269556c-0.8304596,0-1.5062561-0.6757965-1.5062561-1.506258s0.6757965-1.506258,1.5062561-1.506258
                  s1.5062599,0.6757965,1.5062599,1.506258S37.7516594,26.269556,36.9211998,26.269556z M36.9211998,23.8421726
                  c-0.5081825,0-0.9211273,0.4129448-0.9211273,0.9211254s0.4129448,0.9211254,0.9211273,0.9211254
                  s0.9211273-0.4129448,0.9211273-0.9211254S37.4293823,23.8421726,36.9211998,23.8421726z"></path>
                                            </g>
                                        </g>
                                    </svg>




                                </span></div>
                            <h3 style="font-size:18px !important; margin-top:10px; letter-spacing:1px;" class="line-1"
                                data-cc-animate="cc-fade-in-up" data-cc-animate-offset="90%">
                             	    {{ section.settings.title_2}}
                            </h3>
                            <div class="rte line-2" data-cc-animate="cc-fade-in-up" data-cc-animate-offset="90%">
                                <p style="font-size:14px">{{ section.settings.text_2}}</p>
                            </div>
                        </div>


                    </div>
                </div>






                <div class="cc-testimonial
              cc-testimonial--align-left
              cc-testimonial--no-images
              
              
              " data-scrollax-parent="true">



                    <div class="cc-testimonial__column">
                        <div class="cc-testimonial__content overlay-type">
                            <div class="#" data-cc-animate="cc-fade-in-up" data-cc-animate-offset="90%"><span class="#">

                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        style="width: 40px !important; height: 40px !important"
                                        viewbox="0 0 40 40 !important">
                                        <path id="Redo_Icon_-_Light___Font_Awesome-30"
                                            data-name="Redo Icon - Light _ Font Awesome-30"
                                            d="M47.032,8h-.806a.968.968,0,0,0-.968.968v8.921A20,20,0,1,0,41.4,42.846a.97.97,0,0,0,.039-1.406l-.57-.57a.966.966,0,0,0-1.329-.037,17.257,17.257,0,1,1,3.8-20.737H34.129a.968.968,0,0,0-.968.968v.806a.968.968,0,0,0,.968.968h12.9A.968.968,0,0,0,48,21.871V8.968A.968.968,0,0,0,47.032,8Z"
                                            transform="translate(-8 -8)"></path>
                                    </svg>

                                </span></div>
                            <h3 style="font-size:18px !important; margin-top:10px; letter-spacing:1px;" class="line-1"
                                data-cc-animate="cc-fade-in-up" data-cc-animate-offset="90%">
                                {{ section.settings.title_3}}
                            </h3>
                            <div class="rte line-2" data-cc-animate="cc-fade-in-up" data-cc-animate-offset="90%">
                                <p style="font-size:14px">   {{ section.settings.text_3}}</p>
                            </div>
                        </div>



                    </div>
                </div>




                <div class="cc-testimonial
              cc-testimonial--align-left
              cc-testimonial--no-images
              
              
              " data-scrollax-parent="true">



                    <div class="cc-testimonial__column">
                        <div class="cc-testimonial__content overlay-type">
                            <div class="#" data-cc-animate="cc-fade-in-up" data-cc-animate-offset="90%"><span class="#">

                                    <svg version="1.0" id="Ebene_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        style="width: 53.333px !important; height: 40px !important"
                                        viewbox="0 0 53.1868858 43.4169312" xml:space="preserve">
                                        <style type="text/css">
                                            ._x005B_Standard_x005D_ {
                                                fill: #FFFFFF;
                                                stroke: #1D1D1B;
                                                stroke-miterlimit: 10;
                                            }

                                            .Schlagschatten {
                                                fill: none;
                                            }

                                            .Abgerundete_x0020_Ecken_x0020_2_x0020_Pt_x002E_ {
                                                fill: #FFFFFF;
                                                stroke: #1D1D1B;
                                                stroke-miterlimit: 10;
                                            }

                                            .Interaktiv_x0020_X_x0020_spiegeln {
                                                fill: none;
                                            }

                                            .Weich_x0020_abgeflachte_x0020_Kante {
                                                fill: url(#SVGID_1_);
                                            }

                                            .Abenddämmerung {
                                                fill: #FFFFFF;
                                            }

                                            .Laub_GS {
                                                fill: #FFDD00;
                                            }

                                            .Pompadour_GS {
                                                fill-rule: evenodd;
                                                clip-rule: evenodd;
                                                fill: #51AEE2;
                                            }

                                            .st0 {
                                                fill: none;
                                                stroke: #222222;
                                                stroke-linecap: round;
                                                stroke-linejoin: round;
                                                stroke-miterlimit: 10;
                                            }
                                        </style>
                                        <lineargradient id="SVGID_1_" gradientunits="userSpaceOnUse" x1="0"
                                            y1="-28.5776768" x2="0.7071043" y2="-27.8705692">
                                            <stop offset="0" style="stop-color:#E6E6EB"></stop>
                                            <stop offset="0.1754011" style="stop-color:#E2E2E7"></stop>
                                            <stop offset="0.3552136" style="stop-color:#D6D6DB"></stop>
                                            <stop offset="0.5371002" style="stop-color:#C2C3C6"></stop>
                                            <stop offset="0.720417" style="stop-color:#A5A7A9"></stop>
                                            <stop offset="0.9030964" style="stop-color:#818485"></stop>
                                            <stop offset="1" style="stop-color:#6B6E6E"></stop>
                                        </lineargradient>
                                        <path class="st0"
                                            d="M24.952177,35.6100731c0,0,4.4342155-2.088665,7.9277554-1.6592979
          c3.4935341,0.4293709,7.785614,0.695507,10.3245163,0.0614586c2.2342148-0.6732368,1.3775711-3.5131302-1.016468-3.9152527
          c-2.1508255-0.3413181-10.1566124-0.2238159-11.7662678-0.9397297c-0.4847832,0.1353416-5.8991585-4.227766-8.5423088-4.3018837
          c-3.5277786-0.0989208-4.933485,1.0454273-6.4528246,0.7989216c-3.5071993-0.5690231-5.3749018,0.7472858-6.3280449,1.1138783
          c-1.5122628,0.5816402-6.709259,3.6673737-7.1307011,4.1098366s-0.3593304,1.0658474,0,1.5978413l0.7321316,1.1101265"></path>
                                        <path class="st0"
                                            d="M42.5529861,29.3068657c0,0,4.1638985-3.4541187,5.4067917-4.1006012
          c1.8013687-0.9369755,4.5046844,0.1372795,3.9757843,0.7490616c-0.5289001,0.6117802-6.6331329,5.4015656-6.6331329,5.4015656">
                                        </path>
                                        <path class="st0"
                                            d="M40.0688362,28.9933338c0,0,4.8183823-3.5197353,6.1911469-4.5937519
          c1.7986259-1.407196,4.0407906-0.8868637,4.2146873-0.6284485c0.1739006,0.2584171-0.7359238,1.0358009-0.7359238,1.0358009">
                                        </path>
                                        <path class="st0"
                                            d="M37.1288948,28.8645306c0,0,5.5032234-4.4738598,6.1636543-4.8970985
          c1.1369629-0.7286263,2.7763481-1.2694988,3.6588745-0.8643017c0.3036423,0.2161293-0.2304802,0.8931122-0.2304802,0.8931122">
                                        </path>
                                        <path class="st0" d="M2.699965,33.5859718c0,0,3.6808643,5.4586029,3.9495268,5.8295708
          c0.2686625,0.3709641,0.8122344,0.5065231,1.2945871,0.2622566s2.8089843-1.8251839,5.2864671-1.4334602
          c2.4774837,0.3917198,13.5525103,3.1789818,13.5525103,3.1789818s4.4000092,0.7377167,5.5213947,0
          c1.1213837-0.7377129,8.3418846-6.1128731,8.3418846-6.1128731"></path>
                                        <path class="st0" d="M33.2029495,23.8538589l-0.1534004-0.0532265c-5.6156197-2.6515179-10.9056034-6.8938141-13.282217-9.4935913
          c-1.325716-1.5302782-3.8794966-6.5167608,0.8010845-10.8329458c4.681385-4.3153586,12.4811325,0.8357639,12.4811325,0.8357639
          l0.1534004,0.0520701c0,0,7.7997475-5.1511312,12.4803391-0.8341937c4.6805077,4.3153586,2.1267662,9.3022547,0.8014641,10.8326149
          c-1.6901245,1.8474913-4.8509369,4.5256224-8.5540161,6.8727369"></path>
                                    </svg>


                                </span></div>
                            <h3 style="font-size:18px !important; margin-top:10px; letter-spacing:1px;" class="line-1"
                                data-cc-animate="cc-fade-in-up" data-cc-animate-offset="90%">
                                      {{ section.settings.title_4}}
                            </h3>
                            <div class="rte line-2" data-cc-animate="cc-fade-in-up" data-cc-animate-offset="90%">
                                <p style="font-size:14px; line-height:22px">
                                          {{ section.settings.text_4}}</p>
                            </div>
                        </div>



                    </div>
                </div>






            </div>
        </div>
    </div>

{% schema %}
  {
    "name": "Testimonials-custom",
    "settings": [
	  {
        "type": "text",
        "id": "title_1",
        "label": "Heading 1",
        "default": "Kostenloser Versand"
      },
  	  {
        "type": "textarea",
        "id": "text_1",
        "label": "Text 1",
        "default": "Innerhalb Deutschlands"
      },
	  {
        "type": "text",
        "id": "title_2",
        "label": "Heading 2",
        "default": "Einfach & sicher bezahlen"
      },
  	  {
        "type": "textarea",
        "id": "text_2",
        "label": "Text 2",
        "default": "Flexible Zahlungsoptionen"
      },
	  {
        "type": "text",
        "id": "title_3",
        "label": "Heading 3",
        "default": "14 Tage Rückgaberecht"
      },
	  {
        "type": "textarea",
        "id": "text_3",
        "label": "Text 3",
        "default": "Für alle Produkte"
      },
	  {
        "type": "text",
        "id": "title_4",
        "label": "Heading 4",
        "default": "We Care"
      },
  	  {
        "type": "textarea",
        "id": "text_4",
        "label": "Text 4",
        "default": "Pro Bestellung spenden wir € 2,- an die Münchner Frauenhilfe"
      }
	],
    "presets": [
	    {
        "name": "Testimonials-custom",
        "category": "Text",
        "settings": {}
      }
    ]
  }
{% endschema %}
